<div class="container">
  <!-- header -->
  <h1 class="text-center mt-5 mb-0">URL
    Shortener</h1>

  <!-- image -->
  <div class="img-container d-flex justify-content-center ">
    <img
      src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="rounded p-4 d-block" alt="url-image">
  </div>

  <!-- form -->
  <form action="/" method="post">
    <label for="inputURL" class="form-label input-label">Original
      URL</label>
    <input type="text" class="form-control" name="inputURL" id="inputURL"
           placeholder="input URL here">
    <div class="d-flex justify-content-center mt-3 btn-container">
      <button class="btn btn-outline-primary" type="submit">
        Shorten
      </button>
    </div>
  </form>
</div>