.container {
  max-width: 30rem;
}

.container h1 {
  font-weight: 600;
}

.img-container img {
  max-width: 12.5rem;
  margin: 2rem auto;
}

.input-label-valid {
  font-weight: 600;
  color: green;
}

.input-label-err {
  font-weight: 600;
  color: red;
}

.btn-container .btn-shorten {
  width: 50%;
}