<div class="container">
  <div class="row">
    <!-- header -->
    <h1 class="text-center mt-3 mb-0">URL
      Shortener</h1>

    <!-- image -->
    <div class="d-flex justify-content-center mt-3">
      <img
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        class="rounded p-4 d-block" alt="url-image">
    </div>

    <!-- form -->
    <form action="/" method="post">

    <input type="text" class="form-control" name="inputURL"
             placeholder="input URL here">
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-outline-primary" type="submit">
          Shorten
        </button>
      </div>
    </form>
  </div>
</div>